%p= link_to "Edit", edit_user_path(@user)

%p= link_to "New item to remember", new_item_path


%h3 Items for remembering.
%table
  %thead.row
    %td.col-xs-3 Question
    %td.col-xs-3 Next date to remind
  %tbody
    - @items.each do |item|
      %tr.row
        %td.col-xs-3= link_to item.question, item
        %td.col-xs-3= item.reminder_date
