%div{"ng-controller" => "UserCtrl"}
  .row
    .col-md-4
      .well{"ng-submit" => "create(data.question, data.answer)"}
        %form
          .form-group
            %input.form-control{"ng-model" => "data.question", placeholder: "Question...", required: "", type: "text"}
          .form-group
            %textarea.form-control{"ng-model" => "data.answer", placeholder: "Answer...", required: "", type: "text"}
          .form-group
            %button.btn{type: "submit"} Submit

    .col-md-6.col-md-offset-1
      .well{"ng-repeat" => "item in items", "ng-class" => "{red: need_reminding(item)}"}
        %h3{"ng-click" => "toggleShowAnswer($index)"} {{ item.question }}
        %div{"ng-show" => "item.showAnswer"}
          %p {{ item.answer }}
          .btn.btn-success{href: "", "ng-click" => "remember($index)", title: "Remember"} I Remembered It
          .btn.btn-warning{href: "", "ng-click" => "forget($index)", title: "Foreget"} I Forgot It
          .btn.btn-danger.pull-right{href: "", "ng-click" => "delete($index)", title: "Delete"} Delete This Item
