%p.col-md-10.col-md-offset-2
  Use
  %a{href: "https://en.wikipedia.org/wiki/Spaced_repetition"} spaced repetition
  to learn anything you want, using the
  %a{href: "https://en.wikipedia.org/wiki/Leitner_system"} Leitner
  system.

%p.col-md-10.col-md-offset-2 Add a question and answer as an index card, and that index card will be will be brought to your attention at progressively larger intervals of time.  If you forget the answer at any time, the process restarts.

%p.col-md-10.col-md-offset-2
  This is project by
  %a{href: "https://github.com/jteneycke"} Josh Teneycke
  and
  %a{href: "https://github.com/ravster/"} Ravi Desai
  using AngularJS, Rails and PostgreSQL.  The code for this project can be found on
  %a{href: "https://github.com/Rememberability/reminder-agent"} GitHub.
