%div{"ng-controller" => "ItemCtrl"}
  .row
    .col-md-4
      .well{"ng-submit" => "create(data.question, data.answer)"}
        %form
          .form-group
            %input.form-control{"ng-model" => "data.question", placeholder: "Question...", required: "", type: "text"}/
          .form-group
            %textarea.form-control{"ng-model" => "data.answer", placeholder: "Answer...", required: "", rows: "10", type: "text"}
          .form-group
            %button.btn{type: "submit"} Submit

    .col-md-6.col-md-offset-1
      .well{"ng-repeat" => "item in items"}
        %h3 {{ item.question }}
        %p {{ item.answer }}
        .btn.btn-success{href: "", "ng-click" => "remember($index)", title: "Remember"} Remember
        .btn.btn-warning{href: "", "ng-click" => "forget($index)", title: "Forget"} Forget
        .btn.btn-danger.pull-right{href: "", "ng-click" => "delete($index)", title: "Delete"} Delete

